<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinjunhang.contract">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jinjunhang.contract.controller.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jinjunhang.contract.controller.ConfigurationActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.LoginActivity"
                ></meta-data>

        </activity>

        <activity android:name="com.jinjunhang.contract.controller.MainActivity2"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jinjunhang.contract.controller.SearchOrderActivity"
                  android:screenOrientation="portrait">


        </activity>

        <activity android:name="com.jinjunhang.contract.controller.ApprovalSearchActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.MainActivity2"
                ></meta-data>

        </activity>

        <activity android:name="com.jinjunhang.contract.controller.OrderListActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.MainActivity2"
                      ></meta-data>
        </activity>
        <activity android:name="com.jinjunhang.contract.controller.OrderMenuActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.OrderListActivity"

                ></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.OrderBasicInfoActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.OrderMenuActivity"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.OrderShougouActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.OrderMenuActivity"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.OrderChuyunActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.OrderMenuActivity"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.OrderFukuangActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.OrderMenuActivity"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.OrderShouhuiActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.OrderMenuActivity"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.MyInfoActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.jinjunhang.contract.controller.ApprovalListActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.MainActivity2"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.ApprovalDetailActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.ApprovalListActivity"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.LoginActivity"
                  android:screenOrientation="portrait">

        </activity>


        <activity android:name="com.jinjunhang.contract.controller.StartActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.ProductSearchActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.MainActivity2"></meta-data>
        </activity>

        <activity android:name="com.jinjunhang.contract.controller.ProductDetailActivity"
                  android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.jinjunhang.contract.controller.MainActivity2"></meta-data>
        </activity>

    </application>

</manifest>